.pealkiri {
    color: darkgray;
    font-family: 'Times New Roman', Times, serif;
    font-size: 80px;
}

p {
    color: rgb(50, 46, 54);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: center;
}

img {
    border: 3px solid black;
    border-radius: 3px;
    padding: 2px;
}
img:hover {
    box-shadow: 0 0 4px 3px rgb(50, 46, 54, 0.5);
}